*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.button123{
    display: flex;
    justify-content: center;
    overflow: auto;
    gap: 20px;
}


button{
    font-size: medium;
    width: 15vw;
    height: 5vh;
    color: blue;
    background-color: lawngreen
}
@media screen and (max-width:615px) {
    button{
        font-size: 0.8em;
        

    }
        
    
    
}
@media screen and (max-width:502px) {
    button{
        font-size: 0.5em;
        

    }
        
    
    
}